.list-group-item {
  // max-width: 90%;
  margin-bottom: 5%;
  cursor: pointer;
  // border-radius: 20px;
  min-height: 95%;
  // border-top: hidden;
  // border-left: hidden;
  // border-right: hidden;
  border: none;
  box-shadow: 2px 2px 5px grey;
  background: none;
  display: flex;
  font-family: "bebas";

  .row {
    .col {
      p {
        font-size: 1.5vw;
      }
    }
  }
}

.col {
  min-width: 50%;
  max-width: 50%;
}

#details {
  margin-bottom: 1%;
}

#Infos {
  color: #08595e;
  font-weight: 500;
  //   line-height: 0.1;
  font-size: 1rem;
}

.header-top {
  .showcase {
    color: rgb(2, 34, 12);
    background-color: none;
    text-align: center;
    padding: 20px 30px;
    text-align: justify;
  }
  .explorer {
    font-size: 5vw;
    background-color: none;

    text-transform: uppercase;
    font-family: "bebas";
  }
}

@media screen and (max-width: 600px) {
  .list-group-item {
    display: block;
    width: 100% !important;
  }

  .col {
    min-width: 100%;
    max-width: 100%;
  }

  #main_card {
    width: 90%;
  }

  .header-top {
    .explorer {
      font-size: 10vw;
    }
  }

  .list-group-item {
    .row {
      .col {
        p {
          font-size: 7vw;
        }
      }
    }
  }
}
