<div
  class="mx-auto"
  id="main_card"
  style="width: 75%; margin-top: 1%; background: none"
>
  <div class="card-body">
    <div class="card-title text-center header-top">
      <mat-icon>compare_arrows</mat-icon>

      <div class="showcase">
        <h3 class="mt-5" id="line-style" style="text-align: center">
          <span class="explorer">UNDER SERVICE</span>
        </h3>
      </div>
    </div>

    <div *ngIf="!orders" style="text-align: center">
      <img src="assets/empty.svg" alt="emp" />
      <h3>
        <strong>There are no orders being processed yet.. Order More!</strong>
      </h3>
      <br />
    </div>

    <ul class="list-group">
      <div class="row">
        <div
          class="col"
          (click)="view(i, order)"
          *ngFor="let order of orders; index as i"
        >
          <li class="list-group-item" matRipple>
            <div class="row">
              <div class="col">
                <div>
                  <div style="display: flex" class="mb-0">
                    <div
                      *ngIf="
                        order.order_flower == 'Generated Flower Bouquet';
                        else quick
                      "
                      style="flex-basis: 15%"
                    >
                      <img
                        style="
                          max-width: 100%;
                          transition: 0.5s ease;
                          vertical-align: middle;
                        "
                        class="rounded float-left"
                        id="img-view"
                        src="assets/icon/benef_log.jpg"
                      />
                    </div>
                    <ng-template #quick>
                      <div style="flex-basis: 15%" id="preview">
                        <img
                          style="max-width: 100%; transition: 0.5s ease"
                          class="rounded float-left"
                          id="img-view"
                          src="https://detailsblooms.gc-ecommerceapp.com/api/bloompod_api/quick/{{
                            order.order_flower
                          }}.jpg"
                        />
                      </div>
                    </ng-template>

                    <div class="ml-4" style="color: #08595e">
                      <h1 class="mb-0" style="font-family: 'bebas'">
                        {{ order.order_flower }}
                      </h1>
                      <h2 class="mt-0">
                        ₱<b> {{ order.order_totalprice }}</b>
                      </h2>
                    </div>
                  </div>
                  <hr class="mt-0" />

                  <div class="row">
                    <div class="col">
                      <p>Mode:</p>
                      <p id="Infos">
                        {{ order.order_payment }}
                      </p>
                    </div>

                    <div class="col">
                      <p>Status:</p>
                      <p id="Infos">{{ order.order_status }}</p>
                    </div>
                  </div>

                  <div class="row mt-3">
                    <div class="col">
                      <p>Date and Time:</p>
                      <p id="Infos">
                        {{ order.order_date | date }} at {{ order.order_time }}
                      </p>
                    </div>

                    <div class="col">
                      <p>For:</p>
                      <p id="Infos" *ngIf="order.order_recipient">
                        {{ order.order_recipient }}
                      </p>
                      <p id="Infos" *ngIf="!order.order_recipient">Myself</p>
                    </div>
                  </div>
                  <!-- <h3 id="details"><strong>₱ {{order.order_totalprice}}</strong></h3>
                      <p id="details" *ngIf="order.order_payment == 'Delivery'">For: {{order.order_recipient}}</p>
                      <p id="details" *ngIf="order.main_flower == null; else contain1">Soon to have details</p>
                    <ng-template #contain1>
                      <p id="details">{{order.main_flower.replace('_', ' ') | titlecase}}</p>
                      <p id="details">{{order.secondary_flower.replace('_', ' ') | titlecase}}</p>
                      <p id="details" *ngIf="order.tertiary_flower != null">{{order.tertiary_flower.replace('_', ' ') | titlecase}}</p>
                    </ng-template> -->
                </div>
              </div>

              <!-- <div class="col">
                    <mat-chip-list>
                      Mode: <mat-chip style="color:rgb(35, 32, 248);">{{order.order_payment}}</mat-chip>
                    </mat-chip-list>
                  <p>Status: 
                    <mat-chip-list>
                      <mat-chip style="color:rgb(35, 32, 248);" matBadge="!" [matBadgeHidden]="order.order_status!='Ready'">{{order.order_status}}</mat-chip>
                    </mat-chip-list>
                  </p>
                </div> -->
            </div>
          </li>
        </div>
      </div>
    </ul>
  </div>
</div>
