<div class="top-header" id="header-top">
  <!-- <img src="../../../assets/icon/header1.jpg" class="top-image" alt="Snow"/> -->

  <div class="centered">
    <h1 class="title">Provides assistance to event needs</h1>
    <p class="sub-title">
      Cater to flower arrangements styling requirements for all occasions.
    </p>
    <button type="button" class="large-button" (click)="quick()">
      Shop Now
    </button>
  </div>
</div>

<div class="showcase bg-white">
  <h3 class="mb-5" id="line-style" style="text-align: center">
    <span class="explorer bg-white">Explore Our Products</span>
  </h3>

  <div class="row">
    <div class="col-sm column-slider">
      <div style="text-align: center; margin: 0; padding: 0">
        <p-carousel
          [value]="obj_flowers"
          styleClass="custom-carousel"
          [numVisible]="3"
          [numScroll]="1"
          [circular]="true"
          [autoplayInterval]="2000"
        >
          <ng-template let-product pTemplate="item">
            <div class="product-item">
              <div class="product-item-content">
                <div class="p-mb-3"></div>
                <img
                  _ngcontent-keu-c52=""
                  class="product-image"
                  src="http://bloompod.api.gc-ecommerceapp.com/bloompod_api/quick/{{
                    product.quick_name
                  }}.jpg"
                  alt="Bamboo Watch"
                />
                <div>
                  <h3 class="p-mb-1 text-left pt-3">
                    {{ product.quick_name }}
                  </h3>
                  <h4 class="p-mt-0 p-mb-3 text-left">
                    ₱{{ product.quick_price | number: "1.2" }}
                  </h4>
                </div>
              </div>
            </div>
          </ng-template>
        </p-carousel>
      </div>
    </div>
    <div class="col-sm column-slider">
      <div style="text-align: center; margin: 0; padding: 0">
        <p-carousel
          [value]="flowers"
          styleClass="custom-carousel"
          [numVisible]="3"
          [numScroll]="1"
          [circular]="true"
          [autoplayInterval]="2000"
        >
          <ng-template let-product pTemplate="item">
            <div class="product-item">
              <div class="product-item-content">
                <div class="p-mb-3"></div>
                <img
                  _ngcontent-keu-c52=""
                  class="product-image"
                  src="http://bloompod.api.gc-ecommerceapp.com/bloompod_api/flowers/{{
                    product.flower_name
                  }}.png"
                  alt="{{ product.flower_name }}"
                />
                <div>
                  <h3 class="p-mb-1 text-left text-left pt-3">
                    {{ product.flower_name }}
                  </h3>
                  <h4 class="p-mt-0 p-mb-3 text-left">
                    ₱{{ product.flower_price | number: "1.2" }}
                  </h4>
                </div>
              </div>
            </div>
          </ng-template>
        </p-carousel>
      </div>
    </div>
  </div>
</div>

<div id="container">
  <div class="box">
    <h3 style="text-align: center; margin-top: 10rem">Services</h3>
    <h3 class="explorer" style="text-align: center">
      Details & Blooms Events and Flowers
    </h3>

    <div class="cards">
      <article class="card triple-cards">
        <a href="#/nav/quick">
          <figure class="card-thumb">
            <img src="../../../assets/icon/paintbrush.svg" alt="paint" />
          </figure>
          <div class="card-content">
            <h2 class="card-title">Flowers and Styling/Coordination</h2>
            <p class="card-excerpt">
              Cater to flower arrangements styling requirements for all
              occasions.
            </p>
          </div>
        </a>
      </article>

      <article class="card triple-cards">
        <a href="#/nav/quick">
          <figure class="card-thumb">
            <img src="../../../assets/icon/idea.svg" alt="idea" />
          </figure>
          <div class="card-content">
            <h2 class="card-title">
              A perfect theme stage styling only for You
            </h2>
            <p class="card-excerpt">
              Choose the best flowers and styling theme that will suit your
              budget and needs.
            </p>
          </div>
        </a>
      </article>
      <article class="card triple-cards">
        <a href="#/nav/custom">
          <figure class="card-thumb">
            <img src="../../../assets/icon/robot.svg" alt="robot" />
          </figure>
          <div class="card-content">
            <h2 class="card-title">Exciting new features.</h2>
            <p class="card-excerpt">
              Discover bouquet arrangements never seen before with the help of
              our Artificial Intelligence(AI).
            </p>
          </div>
        </a>
      </article>
    </div>
  </div>
</div>

<div id="container-banner">
  <div class="box">
    <div class="courses-container">
      <div class="course">
        <div class="course-preview">
          <h6>We also Offer</h6>
          <h2>Event Planning</h2>
          <a href="https://www.facebook.com/Details-Blooms-498222660191339"
            >View our Facebook page <i class="fas fa-chevron-right"></i
          ></a>
        </div>
        <div class="course-info">
          <h6>Details & Blooms</h6>
          <h2>
            We provide assistance to event needs and cater to flower
            arrangements and styling requirements for all occasions.
          </h2>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- For inquires and booking call us at (047)645-9268; 0999 972 0081; 0915 424 0028 or shoot us a message at detailsandblooms@yahoo.com -->

<!-- <footer>
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <mat-list style="text-align: left"
          ><h4 class="col_title">My Account</h4>
          <mat-divider></mat-divider>
          <mat-list-item
            ><a (click)="toCart()" title="Profile">My Profile</a></mat-list-item
          >
          <mat-list-item
            ><a (click)="toPay()" title="My Orders">My Orders</a></mat-list-item
          >
        </mat-list>
      </div>
      <div class="col-sm">
        <mat-list style="text-align: left"
          ><h4 class="col_title">Information</h4>
          <mat-divider></mat-divider>
          <mat-list-item
            ><a (click)="AboutUs()" title="About Us">About Us</a></mat-list-item
          >

          <mat-list-item
            ><a (click)="ContactUs()" title="Contact Us"
              >Contact Us</a
            ></mat-list-item
          >
        </mat-list>
      </div>
      <div class="col-sm">
        <mat-list style="text-align: left"
          ><h4 class="col_title">Shop Options</h4>
          <mat-divider></mat-divider>
          <mat-list-item
            ><a (click)="toQuick()" title="Florist Choice Bouquet"
              >Florist Choice Bouquet</a
            ></mat-list-item
          >
          <mat-list-item
            ><a (click)="toCustom()" title="Customer Choice Bouquet"
              >Customer Choice Bouquet</a
            ></mat-list-item
          >
        </mat-list>
      </div>
      <div class="col-sm">
        <mat-list style="text-align: left"
          ><h4 class="col_title">Beneficiary</h4>
          <mat-divider></mat-divider>
          <img class="benef_logo" src="../../../assets/icon/benef_logo.png" />
          <a style="color: rgb(2, 34, 12); font-weight: 500; text-align: center"
            >Detials and Blooms Events and Flowers provides assistance to event
            needs and cater to flower arrangements and styling requirements for
            all occasions.</a
          >
        </mat-list>
      </div>
    </div>
  </div>
</footer> -->
