.example-ripple-container {
  cursor: pointer;
  text-align: center;

  width: 300px;
  height: 300px;
  line-height: 300px;

  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;

  -webkit-user-drag: none;
  -webkit-tap-highlight-color: transparent;
}

/** Styles to make the demo look better. */
.example-ripple-checkbox {
  margin: 6px 12px 6px 0;
}

.example-ripple-form-field {
  margin: 0 12px 0 0;
}

a {
  font-size: 80%;
  cursor: pointer;
  font-weight: 500;
}

.mat-list-item:hover {
  color: rgb(134, 172, 123);
  font-size: large;
}

.mat-list-item {
  // max-height: 25px;
  color: rgb(2, 34, 12);
  margin-bottom: -15px !important;
}

.list .mat-list-base .mat-list-item .mat-list-item-content {
  padding: 0 !important;
}

.mat-divider {
  border-top-color: white;
}

.col_title {
  font-weight: 500;
  color: rgb(2, 34, 12);
  margin-bottom: -1px !important;
}

.benef_logo {
  width: 30%;
  display: block;
  margin-top: 1%;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  border-radius: 100%;
}

#promo_div {
  margin-bottom: 5%;
}

#promo_img {
  transition: transform 0.2s;
}

#promo_img:hover {
  -ms-transform: scale(1.2); /* IE 9 */
  -webkit-transform: scale(1.2); /* Safari 3-8 */
  transform: scale(1.2);
}

#promo_card {
  min-width: 32%;
  max-width: 32%;
}

#promo_card_body {
  max-height: 100%;
  min-height: 100%;
}

#quick_info {
  font-weight: 500;
  color: rgb(2, 34, 12);
  background: linear-gradient(180deg, #ce77b7 100%, #d0a9e9 0%);
  position: absolute;
  bottom: 0px;
  width: 87%;
}

footer {
  bottom: 0;
  width: 100%;
  background: #e3f0ff;
}

.wrapper {
  min-height: 100%;
}

body,
html {
  height: 100%;
  margin: 0px;
  font: 400 15px / 1.8 Lato, sans-serif;
  color: rgb(119, 119, 119);
}
.bgimg-1,
.bgimg-2,
.bgimg-3 {
  position: relative;
  opacity: 0.65;
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bgimg-1 {
  background-image: url("../../../assets/icons/home_page.jpg");
  min-height: 100%;
  opacity: 1;
}
.caption {
  position: absolute;
  left: 0px;
  top: 50%;
  width: 100%;
  text-align: center;
  color: rgb(0, 0, 0);
}
.caption span.border {
  background-color: rgb(17, 17, 17);
  color: rgb(255, 255, 255);
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}
h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px Lato, sans-serif;
  color: rgb(17, 17, 17);
}
.bgimg-2 {
  background-image: url("../../../assets/icons/sample-bg2.jpg");
  min-height: 400px;
}
.bgimg-3 {
  background-image: url("../../../assets/icons/sample-bg3.jpg");
  min-height: 400px;
}
@media only screen and (max-device-width: 1024px) {
  .bgimg-1,
  .bgimg-2,
  .bgimg-3 {
    background-attachment: scroll;
  }
}
@media only screen and (max-device-width: 1024px) {
  .bgimg-1,
  .bgimg-2,
  .bgimg-3 {
    background-attachment: scroll;
  }
}
@media only screen and (max-device-width: 1024px) {
  .bgimg-1,
  .bgimg-2,
  .bgimg-3 {
    background-attachment: scroll;
  }
}
@media only screen and (max-device-width: 1024px) {
  .bgimg-1,
  .bgimg-2,
  .bgimg-3 {
    background-attachment: scroll;
  }
}

#image_home {
  background: url("../../../assets/icon/header1.jpg") no-repeat center center
    fixed;
  background-size: cover;
  height: 30rem;
}

.top {
  // position: absolute;
  // top: 8px;
  // left: 16px;
  padding-top: 5%;
  padding-left: 3%;
  color: #000000;
}
.top h1 {
  font-size: 300%;
}

#line-style {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #b8b7b7;
  line-height: 0.1em;
  margin: 3rem 10px 2rem 10px;
}

#line-style span {
  background: #f3f8fc;
  text-align: center;
  padding: 0 10px;
}

.image {
  position: absolute;
  top: -8rem;
  width: 15rem;
  left: 50%;
  background-color: white;
  padding: 9%;
  transform: translateX(-50%);
}

#container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50vh;

  h1 {
    font-size: 3rem;
    text-transform: uppercase;
    font-family: "bebas";
  }
}
.box {
  width: 100%;
  max-width: 800px;
  padding: 15px;
}
.box h1 {
  // font-family: Liberal;
  font-style: normal;
  margin: 10px 0;
  color: inherit;
  font-size: 2.5rem;
  letter-spacing: 2px;
  text-align: center;
}
.cards {
  margin-top: 10%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}
.card {
  width: 32%;
  padding: 15px 10px;
  background-color: #c39cddcc;
  border-radius: 3px;
  transition: transform 0.3s;
}
.card a {
  color: inherit;
  text-decoration: none;
}
.card-thumb {
  width: 100%;
  text-align: center;
}
.card-thumb img {
  width: 80px;
}
.card-title {
  margin: 5px 0;
  font-size: 2rem;
  letter-spacing: 1px;
  text-align: center;

  font-family: "bebas";
}
.card-excerpt {
  font-size: 1rem;
  letter-spacing: 1px;
  text-align: center;

  font-family: "bebas";
}
.card:hover {
  box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.2);
  transform: translateY(-4px);
}
@media screen and (max-width: 540px) {
  #container {
    height: auto;
  }
  .box {
    padding: 20px;
  }
  .card {
    width: 49%;
  }

  .title {
    font-family: "bebas";
    font-size: 2rem !important;
  }

  .sub-title {
    font-family: "bebas";
    font-size: 1rem !important;
  }
}
@media screen and (max-width: 480px) {
  .box h1 {
    font-size: 1.5rem;
  }
  .cards {
    justify-content: center;
  }
  .card {
    margin-bottom: 20px;
    width: 80%;
  }

  .title {
    font-family: "bebas";
    font-size: 2rem !important;
  }

  .sub-title {
    font-family: "bebas";
    font-size: 1rem !important;
  }
}

.top-header {
  position: relative;
  text-align: center;
  height: 60vh;
  width: 100%;
  background: linear-gradient(to top, #c39cddcc, #e3f0ff),
    url(../../../assets/icon/header1.jpg) no-repeat top center;
  border-top: none;

  .top-image {
    width: 100%;
    opacity: 0.5;
  }

  /* Centered text */
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #000000;

    .large-button {
      background-color: #4caf50; /* Green */
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      border-radius: 5px;
    }

    .large-button:hover {
      background-color: #169e1b; /* Green */
      color: white;
    }
  }
}

@media screen and (min-width: 601px) {
  .column-slider {
    width: 50%;
  }

  .product-item {
    padding: 0rem 1rem;
    height: 22rem;
    .product-item-content {
      // border: 1px solid var(--surface-d);
      // background: #f3f3f3;
      // border-radius: 2.5rem;
      margin: 0.3rem;
      text-align: center;
      padding: 0rem 0rem;

      h4 {
        color: #08595e;
        font-size: 1rem;
        font-weight: 600;

        position: fixed;
        bottom: 0;
      }
    }

    .product-image {
      width: 15rem;

      // box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
      border-radius: 5px;
    }
  }

  .showcase {
    color: rgb(2, 34, 12);
    background-color: none;
    text-align: center;
    padding: 20px 30px;
    text-align: justify;
  }

  .top-header {
    img {
      height: 35rem;
    }
  }

  .title {
    font-size: 4vw;
    text-transform: uppercase;
    font-family: "bebas";
    white-space: initial;
  }

  .sub-title {
    font-size: 1.5vw;
    text-transform: lowercase;
    font-family: "bebas";
    padding-top: 1rem;
  }

  .explorer {
    font-size: 3vh;
    background-color: #f3f8fc;
  }
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 600px) {
  .top-header {
    img {
      height: 13rem;
    }
  }

  .showcase {
    color: rgb(2, 34, 12);
    background-color: none;
    text-align: center;
    padding: 50px 80px;
    text-align: justify;
  }

  .product-item {
    .product-item-content {
      // border: 1px solid var(--surface-d);

      margin: 0.3rem;
      text-align: center;
      padding: 2rem 0;

      h4 {
        color: #08595e;
        font-size: 1rem;
        font-weight: 600;

        position: fixed;
        bottom: 0;
      }
    }

    .product-image {
      width: 10rem;
      // box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
      border-radius: 5px;
    }
  }

  .title {
    font-size: 2.5rem;
    text-transform: uppercase;
    margin: 0;
    font-family: "bebas";
  }

  .sub-title {
    font-size: 0.8rem;
    text-transform: lowercase;
    margin: 0;
    font-family: "bebas";
  }

  .showcase {
    margin-top: 30%;
    color: rgb(2, 34, 12);
    background-color: none;
    text-align: center;
    padding: 5px 8px;
    text-align: justify;
  }

  .explorer {
    font-size: 2vh;
  }
}

.card-title {
  text-transform: uppercase;
}

// Card Responsive

.responsive-card {
  .float-layout {
    padding: 5px 5px;
    float: left;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    margin: 0;
  }

  .card-container {
    padding: 10rem;
    overflow: hidden;
  }

  .card {
    background-color: #e3f0ff;
    color: black;
    min-height: 100%; /*replace this it in width: 100%*/
    width: 50%;
    float: right;

    * {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      padding: 0;
      margin: 0;
    }

    body {
      background-color: #b71540;
      font-family: "Montserrat", sans-serif;
    }

    .box {
      text-transform: uppercase;
      font-family: "bebas";

      background-color: transparent;
      border-radius: 3px;
      color: #fff;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 400px;
      height: 300px;
      transform-style: preserve-3d;
      perspective: 2000px;
      transition: 0.4s;
      text-align: center;
      &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: transparent;
        border-top: 20px solid #fff;
        border-left: 20px solid #fff;
        box-sizing: border-box;
      }
      &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-bottom: 20px solid #fff;
        border-right: 20px solid #fff;
        box-sizing: border-box;
      }

      .fas {
        font-size: 25px;
        height: 50px;
        width: 50px;
        line-height: 50px !important;
        background-color: #fff;
        color: #c39cddcc;
      }
      .fa2 {
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: 1;
      }
      .text {
        position: absolute;
        top: 30px;
        left: -30px;
        width: calc(100% + 60px);
        height: calc(100% - 60px);
        background-color: #c39cddcc;
        border: none;
        border-radius: 3px;
        transition: 0.4s;
        .fa1 {
          position: absolute;
          top: 0;
          left: 0;
        }
        div {
          position: absolute;
          top: 50%;
          left: 0;
          transform: translateY(-50%);
          text-align: center;
          width: 100%;
          padding: 30px 60px;
          line-height: 1.5;
          box-sizing: border-box;
          h3 {
            font-size: 3rem;
            margin-bottom: 5px;
            font-family: "bebas";
          }
          p {
            font-size: 1.5rem;
            font-family: "bebas";
          }
        }
      }
      &:hover {
        .text {
          transform: rotateY(20deg) skewY(-3deg);
        }
        transform: translate(-50%, -50%) rotateY(-20deg) skewY(3deg);
      }
    }
  }

  .card-title {
    font-size: 5rem;
    text-align: center;
    font-weight: bold;
    padding-top: 20px;
  }

  .card-desc {
    padding: 10px;
    text-align: left;
    font-size: 30px;
  }

  /*add this it*/
  .card-image {
    display: flex;
  }
  /*-------------*/

  div.card-image img {
    width: 50%;
    height: auto;
  }

  /* Phone Devices Query */
  @media only screen and (max-width: 37.5em) {
    div.card-image img {
      width: 100%;
      height: auto;
    }

    /*add this it*/
    .card-image {
      flex-direction: column;
    }
    /*----------------------*/

    .card {
      width: 100%;
      margin-top: -4px;
    }
  }
}
